body{
    background-color: orange;
    h1{
        color: blue;
        font-style: italic;
    }
    h2{
        color: green;
        font-style: inherit;
    }
    h3{
        color: brown;
    }
    p{
        color: black;
    }
}